<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="author" content="Samuel Colvin">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/theme.css' %}">
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div class="container">
    <h1>{{ title }}</h1>
    {% for message in messages %}
      <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}

    {% block content %}{% endblock %}
  </div>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
